.sam.overflow
    .sam__overlay.opacity
            .blur
            .sam__back.hidden
                .sam__rules
                    .sam__rules-close
                        span
                    .sam__rules-wrapper
                        .sam__rules-title Como receber um bônus de 10 FS com o código promocional "#[span FAVBETCITY]"
                        ul.sam__rules-list
                            li.sam__rules-item Registre-se se você ainda não estiver conosco em <a href="https://www.favbet.com/pt">https://www.favbet.com/pt</a>
                            li.sam__rules-item Insira o código promocional "#[span FAVBETCITY]" na conta pessoal na seção "Bônus"
                            li.sam__rules-item Carregue a conta a partir de 30 BRL, dentro de 5 dias após inserir o código promocional
                            li.sam__rules-item Faça apostas ou jogue no valor do casino 150 BRL, dentro de 5 dias após inserir o código promocional e receba instantaneamente um bônus de 10 FS no jogo Shining Crown por 2 BRL (R$) por rodada

    .sam__wrapper
        .sam__salut3
        .sam__salut4
        .sam__info
            .sam__title sua cidade de #[br] entretenimento
            .sam__code
                .sam__code-text FAVBETCITY
                .sam__code-info #[span 10 FR por] código promocional
                button(type='button').sam__code-copy
                    img(src='img/copy.svg' alt='copy')
            .wrapper-mob
                a(href='https://www.favbet.ro/pt/register/').sam__link BEM-VINDO
                .sam__button-rules Cum se folosește codul promoțional?
                a(href='#bottom').sam__button-mob
                    img(src='img/mob-bu.svg' alt='button')
        .sam__logo
            img(src='img/logo.svg' alt='logo')
        .sam__pyramid
            .sam__salut1
            .sam__salut2
            picture
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/pyramid-mob.png")
                source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/pyramid-landscape.png")
                source(media="(min-width: 601px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/pyramid-tab.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/pyramid-desc2.png")
                img(src="img/pyramid-desc2.png" alt="Favbet")
        .sam__pers
            picture
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/sam-mob.png")
                source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/sam-mob.png")
                source(media="(min-width: 601px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/sam-tab.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/sam-desc.png")
                img(src="img/sam-desc.png" alt="Favbet")
        .sam__footer
            ul.sam__footer-list
                li.sam__footer-item
                    .left depósito
                    .right até 1500 BRL
                li.sam__footer-item
                    img(src='img/plus.svg' alt='plus')
                li.sam__footer-item(id='bottom')
                    .left uma aposta sem risco
                    .right de 300 BRL









